/* Tailwind css directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ------ */

/* Google Fonts */
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* ----- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/images/jlewis-background.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li,
h1,
h2,
p,
button {
  letter-spacing: 2px;
}
label {
  display: none;
}
@layer utilities {
  .glass {
    background: linear-gradient
      (135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px, solid rgba();
  }
  .button {
    color: #f9f9f9;
    /* border: 2px solid #2b2b2b; */
    /* background-color: #f9f9f9; */
    box-shadow: 0 3px 0 #2b2b2bdf;
    background-image: linear-gradient(135deg, #545454, #737373);
    transition: background 5000ms, color 5000ms;
  }

  .button-hover:hover {
    /* background-image: linear-gradient(135deg, , ); */
  }

  .button-drop {
    box-shadow: none;
    transform: translateY(3px);
  }
}
